<div class="quick-view-header">
        <h4 class="quick-view-header-title" data-bind="title">{{title}}</h4>
        <div class="quick-view-header-info">
            <component name="./header/price/Price" data="." className="quick-view-inline-block quick-view-header-price"></component>
            <component name="./header/download/CouponDownload" data="." className="quick-view-inline-block quick-view-header-coupondownload"></component>
        </div>
</div>
