{{#if valid}}
<ul class="quick-view-options">
    <li class="quick-view-option first-option">
        <component name="./product/summary/option/OptionItem" data="firstOption" bind></component>
    </li>

    <li class="quick-view-option second-option">
        <component name="./product/summary/option/OptionItem" data="secondOption" bind></component>
    </li>
</ul>
{{/if}}
