@import "../../../../base/base.scss";

.quick-view-purchase {
  margin-top:16px;
  position:relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .quick-view-order {
    position:relative;
    ul {
      display:table;
      width: 100%;
      table-layout:fixed;
      li {
        display:table-cell;
        a {
          display:block;
        }
      }
    }
  }

  .quick-view-purchase-btn {
    display:inline-block;
    border:1px solid #0073e9;
    padding:10px 10px 8px 10px;
    *padding:10px;
    padding:10px\9;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    min-width: 108px;
    color:#0073e9;
    cursor:pointer;
    span {
      top:-2px\9;
      *top:-2px;
      position:relative;
      display:inline-block;
    }
  }

  .quick-view-atc-btn {
    &:hover {
      border: 1px solid #0f5ca8;
      color:#0f5ca8;
    }
    margin-right: 7px;
  }

  .quick-view-buy-btn {
    background: #0073e9;
    color:#fff;
    marign-left:5px;

    &:hover {
      background:#0f5ca8;
    }
    span{
        position:relative;
        display:inline-block;
      margin-left:-10px;
      &:after {
        display:inline-block;
        content:'';
        position:absolute;
        background: url($quick-view-asset-sprite) no-repeat -441px -205px;
        width: 8px;
        height: 14px;
        top:50%;
        margin-top:-7px;
        right: -15px;
        *margin-top:-5px;
        margin-top: -5px\9;
      }
    }
  }

  @media screen\0 {
    .quick-view-purchase-btn span {
      top:-2px;
    }
    .quick-view-buy-btn span:after  { margin-top: -5px; }
    .quick-view-purchase-btn {
      padding: 10px;
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .quick-view-purchase-btn span {
      top:-2px;
    }
    .quick-view-buy-btn span:after  { margin-top: -5px; }
    .quick-view-purchase-btn {
      padding: 10px;
    }
  }

  .quick-view-purchase-popup {
    display:none;
    position:absolute;
    background:url($quick-view-asset-sprite) no-repeat -217px 0;
    width: 254px;
    height: 116px;
    top:0;
    left:0;
    margin-top: -116px;
    margin-left: -68px;
    padding:30px;
    text-align:center;
    z-index:1;
    h4 {
      font-weight:normal;
    }
    a {
      margin-top: 10px;
      display: inline-block;
      border: 1px solid #0073e9;
      padding: 10px 24px;
      font-weight: bold;
      color: #0073e9;
    }

    button {
      position:absolute;
      top:8px;
      right:8px;
      display:block;
      border:0 none;
      background:url($quick-view-asset-sprite) no-repeat -421px -205px;
      width: 16px;
      height:16px;
    }
  }
}

