$quick-view-asset-sprite: '//imgs.coupangcdn.com/image/dragonstone/sdp/PCSDP_imageasset_170329-new-min.png';
$quick-view-review-bg : "//imgs.coupangcdn.com/image/productreview/web/pdp/bg-productreview-star05.png";
$quick-view-review-percentage : "//imgs.coupangcdn.com/image/productreview/web/plp/bg-productreview-plp-star01.png";
